<!DOCTYPE html>
<h1>General Settings</h1>
<div class="ui three doubling stackable cards">
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="asterisk icon"></i>
                启动时连接
            </div>
            <div class="description">
                配置启动应用程序时要连接到的服务器
            </div>
        </div>
        <div class="center aligned extra content">
            <dropdown class="fluid" title="Connection Mode" ng-model="settings.startup">
                <dropdown-group data-value="default">默认</dropdown-group>
                <dropdown-group data-value="ask">询问</dropdown-group>
                <dropdown-group data-value="latest">使用最后连接的服务器</dropdown-group>
            </dropdown>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="theme icon"></i>
                主题
            </div>
            <div class="description">
                更改应用程序的整体主题
            </div>
        </div>
        <div class="center aligned extra content">
            <dropdown class="fluid" title="Theme" ng-model="settings.ui.theme">
                <dropdown-group ng-repeat="theme in themes" title="theme.theme" value="theme.basename"></dropdown-group>
            </dropdown>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="text height icon"></i>
                显示大小
            </div>
            <div class="description">
                根据您的屏幕尺寸进行调整
            </div>
        </div>
        <div class="center aligned extra content">
            <dropdown class="fluid" title="Display Size" ng-model="settings.ui.displaySize">
                <dropdown-group data-value="small">小</dropdown-group>
                <dropdown-group data-value="normal">中</dropdown-group>
                <dropdown-group data-value="large">大</dropdown-group>
            </dropdown>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="expand icon"></i>
                Table Resize Style
            </div>
            <div class="description">
                Changes how the torrent table behaves when resized
            </div>
        </div>
        <div class="center aligned extra content">
            <dropdown class="fluid" title="Resize Mode" ng-model="settings.ui.resizeMode">
                <dropdown-group data-value="FixedResizer">Static</dropdown-group>
                <dropdown-group data-value="OverflowResizer">Overflow</dropdown-group>
                <dropdown-group data-value="BasicResizer">Relative</dropdown-group>
            </dropdown>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="refresh icon"></i>
                同步速度
            </div>
            <div class="description">
                多久从 torrent 客户端中提取一次信息
            </div>
        </div>
        <div class="center aligned extra content">
            <dropdown class="fluid" title="Resize Mode" ng-model="settings.refreshRate">
                <dropdown-group data-value="1000">Fast (1 second)</dropdown-group>
                <dropdown-group data-value="2000">Default (2 seconds)</dropdown-group>
                <dropdown-group data-value="4000">Slow (4 seconds)</dropdown-group>
            </dropdown>
        </div>
    </div>
    <div class="ui card" ng-if="!is.linux()">
        <div class="content">
            <div class="header">
                <i class="magnet icon"></i>
                磁力链接
            </div>
            <div class="description">
                设置Electorrent作为默认程序打开磁力链接
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="general.magnets"></toggle>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="cubes icon"></i>
                Compact Listings
            </div>
            <div class="description">
                Minimize space when listing torrents
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.ui.displayCompact"></toggle>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="announcement icon"></i>
                通知
            </div>
            <div class="description">
                启用种子下载结束时进行桌面通知
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.ui.notifications"></toggle>
        </div>
    </div> 

    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="paint brush icon"></i>
                Clean Names
            </div>
            <div class="description">
                清理种子名称，从而使它们更具可读性，替换标点符号等
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.ui.cleanNames"></toggle>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="pin icon"></i>
                Fixed Header
            </div>
            <div class="description">
                在滚动浏览种子时，始终保持显示的列标题
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.ui.fixedHeader"></toggle>
        </div>
    </div>
    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="bug icon"></i>
                调试模式
            </div>
            <div class="description">
                启用开发人员控制台
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.debugMode"></toggle>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="upload icon"></i>
                自动更新
            </div>
            <div class="description">
                在应用程序启动时自动检查更新
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.automaticUpdates"></toggle>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="trash icon"></i>
                删除 Torrent 文件
            </div>
            <div class="description">
                上传到服务器后自动删除 torrent 文件
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.autoRemoveTorrents"></toggle>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">
                <i class="trash icon"></i>
                始终提示输入上传选项
            </div>
            <div class="description">
                每当上传种子时，始终在添加种子之前显示选项
            </div>
        </div>
        <div class="center aligned extra content">
            <toggle ng-model="settings.alwaysPromptUploadOptions"></toggle>
        </div>
    </div>

</div>
