<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">
        添加Torrent
    </div>
    <div class="content">
        <h4 class="ui header">
            <div class="content">
                添加一个新的 Torrent
                <div class="sub header">{{ data[0].filename }}</div>

            </div>
        </h4>

    </div>
    <div class="actions">
        <a class="ui black button">
            取消
        </a>
        <a class="ui green right labeled icon button">
            添加Torrent
            <i class="plus icon"></i>
        </a>
    </div>
</div>
