<div class="ui small modal">
    <i class="close icon"></i>
    <div class="header">

        可用升级
    </div>
    <div class="content">

        <h4 class="ui header">
            <div class="content">
                版本:
                {{data.releaseName}}
                <div class="sub header">{{data.releaseDate | releaseDate}}</div>
            </div>
        </h4>

        <h4 class="ui horizontal divider header" style="margin-top: 14px">
            <i class="tag icon"></i>
            升级日志：
        </h4>

        <p marked="data.releaseNotes"></p>

    </div>
    <div class="actions">
        <a class="ui black deny button">
            晚些再说
        </a>
        <a class="ui positive right labeled icon button">
            退出并升级
            <i class="arrow alternate circle up icon"></i>
        </a>
    </div>
</div>
